/doc                export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/Readme.md          export-ignore
/.gitmodules        export-ignore
/LICENSE            export-ignore
/Makefile           export-ignore
/begateway.zip      export-ignore
