{if $error}
  <i class="icon16 error"></i>
  <em>{$message}</em>
{else}
  <script type="text/javascript" src="https://js.bepaid.by/widget/be_gateway.js"></script>
  <script type="text/javascript">
    this.payment = function() {
      var params = {
        checkout_url: "{$checkoutUrl}",
        token: "{$token|escape}",
        checkout: {
          iframe: true
        }
      };

      new BeGateway(params).createWidget();
    };
  </script>
  <button type="button" class="js-show-edit-form" onclick="payment()">{$message_button}</button>
{/if}
